## Get this url of the Sandbox website
## Only available under Registration on Developer Hub https://opengateway.telefonica.com/developer-hub/unirse)
API_GATEWAY_URL=https://sandbox.opengateway..../apigateway
## Get the API KEY on the Sandbox website
APP_CLIENT_ID=your_sandbox_api_client_id
APP_CLIENT_SECRET=your_sandbox_api_client_secret
PURPOSE=dpv:FraudPreventionAndDetection#sim-swap
GRANT_TYPE='urn:openid:params:grant-type:ciba'
